body {
    background-color: #2fafa1;
    color: aliceblue;
    font-family: sans serif;

}

/* h1 h2 h3 h4 h5 {
    /* color:aliceblue;
    font-family: sans serif;
} */

h1, h2, h3, h4, h5, p {
    text-align: center;
}

#stream {
    width: 95vw;
    max-width: 800px;
    font-size: 2em;
    text-align: center;
    border: black dotted;
    display: block;
    margin: 0 auto;
}
